<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473403818949-gjvo2bd2147cnnoj2b5kh26almqqgc26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473403818949-gjvo2bd2147cnnoj2b5kh26almqqgc26</string>
	<key>API_KEY</key>
	<string>AIzaSyDalOwV-zqnIIvYqZzHh2ek-e_yMC43a0k</string>
	<key>GCM_SENDER_ID</key>
	<string>473403818949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homeventory</string>
	<key>PROJECT_ID</key>
	<string>homeventory-aa13f</string>
	<key>STORAGE_BUCKET</key>
	<string>homeventory-aa13f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473403818949:ios:2c7c3b495c5e02d8b041ac</string>
</dict>
</plist>